*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
 text-align:center;
 display:flex;
 align-content: space-around;
  padding: 1rem;
  align-content: center;
 justify-content:space-between;
 
}
.nav::after{
  font-size: 1.1rem;
  word-spacing: 5px ;
  text-decoration: none;
 position:relative;
}
/*.images-section{

}*/
.footer{
  background-color: black;
  color: white;
  text-align: center;
}