*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, section, main, div {
  border: solid;
}
#header{
 /*align-content: space-around;*/
  padding: 0.5rem;
 justify-content:space-between;
}
.images-section{
  
}
/*.nav::after{
  font-size: 1.1rem;
  word-spacing: 5px ;
}*/
/*.nav{
  margin-right: auto;
}*/
/*.ul a{
  justify-content: center;
 
 text-decoration: none;
}*/
.footer{
  background-color: black;
  color: white;
  text-align: left;
}